/* Styles go here */

html,
body {
  margin: 0;
  padding: 0;
}

.clear {
  clear: both;
}

img {
  max-width: 100%;
}

h1 {
  color: #4078c0;
}

.container {
  width: 80%;
  margin: auto;
}

.user p {
  margin: 0;
}

.user .gravatar {
  margin: 20px 10px;
}

.avatar {
  display: block;
}

.user .left,
.user .right {
  float: left;
}

.repos {
  margin: 30px 0;
}